---
settings:
  idle_timeout_minutes: 5  # auto-disconnect idle sessions; 0 = disabled

regions:
  - remote_bind_address: "rds20.cfzd8p3h4rdv.ap-southeast-2.rds.amazonaws.com"
    remote_bind_port: 3306
    username: "your_username"
    password: "your_password"
    virtual_network_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  - remote_bind_address: "rds24.cqwxv01prsck.us-west-1.rds.amazonaws.com"
    remote_bind_port: 3306
    username: "your_username"
    password: "your_password"
    virtual_network_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  - remote_bind_address: "qa.c24wcnt1bk9g.ap-southeast-2.rds.amazonaws.com"
    remote_bind_port: 3306
    username: "your_username"
    password: "your_password"
    virtual_network_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  - remote_bind_address: "qa-c-mysql8.c24wcnt1bk9g.ap-southeast-2.rds.amazonaws.com"
    remote_bind_port: 3306
    username: "your_username"
    password: "your_password"
    virtual_network_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  - remote_bind_address: "rds40.ce8uhaxmlrvu.ap-southeast-2.rds.amazonaws.com"
    remote_bind_port: 3306
    username: "your_username"
    password: "your_password"
    virtual_network_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  - remote_bind_address: "rds41.ce8uhaxmlrvu.ap-southeast-2.rds.amazonaws.com"
    remote_bind_port: 3306
    username: "your_username"
    password: "your_password"
  - remote_bind_address: "rds50-global.cfz99lmxiyml.eu-central-1.rds.amazonaws.com"
    remote_bind_port: 3306
    username: "your_username"
    password: "your_password"
    virtual_network_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
